<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Hệ Thống Quản Lý Thư Viện</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Bảng Điều Khiển</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">Quản Lý Người Dùng</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/books" routerLinkActive="active">Quản Lý Sách</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/admin/loans" routerLinkActive="active">Quản Lý Mượn Trả</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/admin/fines" routerLinkActive="active">Quản Lý Phí Phạt</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/admin/reviews" routerLinkActive="active">Quản Lý Đánh Giá</a>
        </li>
        
        <li class="nav-item" *ngIf="isUser()">
          <a class="nav-link" routerLink="/borrow-book" routerLinkActive="active">Mượn Sách</a>
        </li>
        <li class="nav-item" *ngIf="isUser()">
          <a class="nav-link" routerLink="/return-book" routerLinkActive="active">Trả Sách</a>
        </li>
        <li class="nav-item" *ngIf="isUser()">
          <a class="nav-link" routerLink="/my-account" routerLinkActive="active">Tài Khoản Của Tôi</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">
        <ng-container *ngIf="!isLoggedIn()">
          <button class="btn btn-outline-light me-2" routerLink="/register">Đăng Ký</button>
          <button class="btn btn-primary" routerLink="/login">Đăng Nhập</button>
        </ng-container>

        <ng-container *ngIf="isLoggedIn()">
          <span class="navbar-text me-3">
            Chào, {{ getUserName() }}
          </span>
          <button class="btn btn-outline-danger" (click)="logout()">Đăng Xuất</button>
        </ng-container>
      </div>
    </div>
  </div>
</nav>