.header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 2rem;
}

.table {
    background-color: #fff;
}

.table thead th {
    border-bottom-width: 2px;
}

.badge {
    font-size: 0.8em;
    padding: 0.4em 0.7em;
}
